body {
  margin: 0;
  text-align: center;
}

.rotate_meme:first-of-type {
  background: url('../assets/memes/trump1.png');
  transform: rotate(-30deg) translateY(-150px) rotate(30deg);
  animation: rotate-1 10s linear infinite;
  background-position: 56% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes rotate-1 {
  from {
    transform: rotate(-30deg) translateY(-150px) rotate(30deg);
  }
  to {
    transform: rotate(330deg) translateY(-150px) rotate(-330deg);
  }
}

.rotate_meme:nth-of-type(2) {
  background-image: url('../assets/memes/buffett1.png');
  transform: rotate(30deg) translateY(-150px) rotate(-30deg);
  animation: rotate-2 10s linear infinite;
  background-position: 56% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes rotate-2 {
  from {
    transform: rotate(30deg) translateY(-150px) rotate(-30deg);
  }
  to {
    transform: rotate(390deg) translateY(-150px) rotate(-390deg);
  }
}

.rotate_meme:nth-of-type(3) {
  background-image: url('../assets/memes/nouriel1.png');
  transform: rotate(90deg) translateY(-150px) rotate(-90deg);
  animation: rotate-3 10s linear infinite;
  background-position: 56% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes rotate-3 {
  from {
    transform: rotate(90deg) translateY(-150px) rotate(-90deg);
  }
  to {
    transform: rotate(450deg) translateY(-150px) rotate(-450deg);
  }
}

.rotate_meme:nth-of-type(4) {
  background: url('../assets/memes/trump3.png');
  transform: rotate(150deg) translateY(-150px) rotate(-150deg);
  animation: rotate-4 10s linear infinite;
  background-position: 56% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes rotate-4 {
  from {
    transform: rotate(150deg) translateY(-150px) rotate(-150deg);
  }
  to {
    transform: rotate(510deg) translateY(-150px) rotate(-510deg);
  }
}

.rotate_meme:nth-of-type(5) {
  background: url('../assets/memes/buffett5.png');
  transform: rotate(210deg) translateY(-150px) rotate(-210deg);
  animation: rotate-5 10s linear infinite;
  background-position: 56% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes rotate-5 {
  from {
    transform: rotate(210deg) translateY(-150px) rotate(-210deg);
  }
  to {
    transform: rotate(570deg) translateY(-150px) rotate(-570deg);
  }
}

.rotate_meme:last-of-type {
  background-image: url('../assets/memes/nouriel2.png');
  transform: rotate(270deg) translateY(-150px) rotate(-270deg);
  animation: rotate-6 10s linear infinite;
  background-position: 56% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes rotate-6 {
  from {
    transform: rotate(270deg) translateY(-150px) rotate(-270deg);
  }
  to {
    transform: rotate(630deg) translateY(-150px) rotate(-630deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-rev {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
